<nav>
    <div class="site-title">
        <a href="/"><h1>BlogSphere</h1></a>
    </div>
    <ul>
        <li><a href="/" class="navElement">Blogs</a></li>
        <li><a href="/about" class="navElement">About</a></li>
        <li><a href="/blogs/create" class="navElement">New blog</a></li>
    </ul>
</nav>